.login{
    padding: 40px;
}

.login__line{
    margin-bottom: 10px;
}

.login__line input[type="checkbox"] {
    margin-right: 10px;
}

.formSummaryError {
    border: 1px solid red;
    color: red;
    margin: 10px;
    padding: 10px;
}