.App {
  /* padding: 40px; */
  display: flex;
  flex-wrap: wrap;
}
.main{
  width: 100%;
  height: calc(100vh - 60px);
  background: rebeccapurple;
  display: flex;
}

.header,
.aside,
.profile{
  padding: 40px;
  color: white;
}

