.aside{
    max-width: 300px;
    background: darksalmon;
    padding: 40px;
    color: white;
}

.aside ul a.active{
    color: white;
}

.mainFriends{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.friends{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.friends img{
    margin-bottom: 10px;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
}