.content__nav{
    width: 25%;
    min-height: 100%;
    background: rebeccapurple;
}
.content__li{
    list-style-type: none;
    margin: 20px 0; 
}
.content__a{
    color: lightgrey;
    text-decoration: none;
}
.activeLink{
    color: white;
}
.nav__friend{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}